[core]
  excludesfile = ~/.gitignore_global
[user]
  name = dmeert
  email = 13778846+dmeert@users.noreply.github.com
[github]
  user = dmeert
[push]
  default = current
[pull]
  rebase = false
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code -nw -d $LOCAL $REMOTE
# [gpg]
# 	format = ssh
# [commit]
# 	gpgsign = true
# [tag]
# 	gpgsign = true
# [gpg "ssh"]
# 	defaultKeyCommand = ssh-add -L