[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
	shallow = true
[submodule "prezto"]
	path = zprezto
	url = git@github.com:Twanislas/prezto.git
	ignore = dirty
	shallow = true
