[core]
	excludesfile = ~/.gitignore_global
[user]
	name = Antoine Rahier
	email = 524706+Twanislas@users.noreply.github.com
	signingkey = 632BE09CDD6A34AB4711F1A5537B7FD843BC1E54
[commit]
	gpgsign = true
[github]
	user = Twanislas
[push]
	default = current
[pull]
  rebase = false
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code -nw -d $LOCAL $REMOTE
